p {
	font-family: Times,serif;
	font-size: 14px;
}

.section{
	width: 100%;
	padding: 50px;
}

#header {
	height: 350px;
	background-color: #C2A0A0;
}

img {
	height: 280px;
	width: 200px;
	border-radius: 10px;
	margin: 60px 10px 10px 10px;
	display: inline;
	float: left;
}

.about-me {
	display: inline;
	height: 300px;
	width: 600px;
	color: #FFFFFF;
	float: bottom;
	margin: 300px 10px 10px 10px;
	padding: 200px;
}

#education {
	height: 300px;
	background-color: #000000;
	color: #FFFFFF;
}

#experience {
	height: 450px;
	background-color: #C2A0C2;
}

#skills {
	height: 360px;
	background-color: #000000;
	color: #FFFFFF;
}

#awards {
	height: 430px;
	background-color: #C20000;
}

#publications {
	height: 250px;
	background-color: #000000;
	color: #FFFFFF;
}

#social {
	height: 150px;
	background-color: #0000C2;
}

#contact {
	height: 200px;
	background-color: #000000;
	color: #FFFFFF;
}

.icon:link, 
.icon:visited {
	color: #ECF0F1;
}

.icon:hover {
	color: #2980b9;
};