/*Formatting for all sections*/
.section{
	width: 100%;
	padding: 50px;
	font-family: Calibri, serif;
	font-size: 16px;
}
/*Formatting for links*/
a:link, 
a:visited {
	color: #1E2B47;
}

a:hover {
	color: #FFFFFF;
}
/*Formatting for profile picture*/
#profile {
	height: 320px;
	width: 220px;
	border-radius: 10px;
	margin: 30px 10px -20px -70px;
	display: inline-block;
	float: left;
}
/*Formatting for flag*/
#flag {
	height: 250px;
	margin: 50px 10px -20px -80px;
	width: 400px;
}

#about {
	display: inline-block;
	height: 320px
	width: 600px;
	float: bottom;
	color: #1E2B47;
	background-color: #FFFFFF;
}

#education {
	height: 450px;
	background-color: #345191;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
}

#experience {
	margin: 0px 0px 0px 0px; 
	height: 1000px;
	color: #1E2B47;
	background-color: #D9AF3D;
}

#skills {
	height: 400px;
	background-color: #345191;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px; 
}

#awards {
	height: 570px;
	color: #1E2B47;
	background-color: #D9AF3D;
}

#publications {
	height: 410px;
	background-color: #345191;
	color: #FFFFFF;
}

#social {
	height: 210px;
	color: #1E2B47;
	background-color: #D9AF3D;
}

#contact {
	height: 210px;
	background-color: #345191;
	color: #FFFFFF;
	position: center;
}