p {
	font-family: Times,serif;
	font-size: 14px;
}

div{
	border-radius: 10px;
	width: 98%;
	margin: 10px 10px 10px 10px;
}

.header {
	height: 320px;
	background-color: #C2A0A0;
	margin: 60px 10px 10px 10px;
}

img {
	height: 300px;
	width: 200px;
	border-radius: 10px;
	margin: 10px 10px 10px 10px;
	display: inline;
	float: left;
}

.about-me {
	display: inline;
	height: 300px;
	width: 600px;
	color: #FFFFFF;
}

.education {
	height: 200px;
	background-color: #A0A0C2;
}

.experience {
	height: 450px;
	background-color: #C2A0C2;
}

.skills {
	height: 350px;
	background-color: #A0C2A0;
}

.awards {
	height: 450px;
	background-color: #C20000;
}

.publications {
	height: 200px;
	background-color: #00C200;
}

.social {
	height: 150px;
	background-color: #0000C2;
}

#contact {
	height: 200px;
	background-color: #A0A0A0;
}

.icon:link, 
.icon:visited {
	color: #ECF0F1;
}

.icon:hover {
	color: #2980b9;
};