/*stylesheet.css*/

p {
	font-family: Times,serif;
	font-size: 14px;
	background-color: grey;
}

.pic {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.icon:link, 
.icon:visited {
	color: #ECF0F1;
}

.icon:hover {
	color: #2980b9;
};